* {
    font-size: 15px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.error-message {
    color: red;
}

.login-button {
    background-color: darkslateblue;
}

.register-button {
    background-color: crimson;
}

.upload-button {
    background-color: cornflowerblue;
}

.user-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.file-upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.page-navigator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pre-display {
    height: auto;
    max-height: 300px;
    overflow: auto;
    word-break: normal;
    word-wrap: normal;
    white-space: pre;
    border: 5px solid black;
    border-radius: 15px;
}

.img-display {
    width: 500px;
}

.users-display {
    display: flex;
    flex-direction: row;
}

.trusted-users-display {
    height: 100px;
    width: 200px;
    overflow: auto;
    word-break: normal;
    word-wrap: normal;
    white-space: pre;
    border: 5px solid black;
}

.searched-users-display {
    height: 100px;
    width: 200px;
    overflow: auto;
    word-break: normal;
    word-wrap: normal;
    white-space: pre;
    border: 5px solid black;
}

.user-item-display {
    background-color:cadetblue;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.header {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.login-dropdown-button {
    position: relative;
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
    color: rgb(42, 123, 173);
    display: inline-block;
    text-decoration: underline;
}

.login-dropdown {
    display: block;
    position: absolute;
    right: 0;
    box-shadow: 1px 1px 3px;
}

.login-dropdown-display {
    display: none
}

.user-dropdown {
    display: flex;
    flex-direction: row;
}

.user-display {
    position: relative;
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
    color: rgb(42, 123, 173);
    display: inline-block;
    text-decoration: underline;
}

.home-button {
    position: relative;
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
    color: rgb(42, 123, 173);
    display: inline-block;
    text-decoration: underline;
}

.home-file-search {
    display: flex;
    flex-direction: row;
}

.file-search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.file-search-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clear-button {
    position: relative;
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
    color: rgb(215, 51, 51);
    display: inline-block;
}

.page-number-max {
    margin: 5px;
}

.page-number-input {
    width: 30px;
    margin: 5px;
}