* {
    font-size: 15px;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.header {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.loading-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.error-message {
    color: red;
}

.login-button {
    background-color: darkslateblue;
}

.register-button {
    background-color: crimson;
}

.upload-button {
    background-color: cornflowerblue;
}

.user-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.file-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.file-upload-form {
    width: 275px;
    margin-bottom: 50px;
    border-radius: 3%;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: #E6E6FA;
}

.file-upload-form-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 10px 0px 10px;
}

.file-upload-form-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #66023C;
    padding-top: 10px;
    padding-bottom: 10px;
}

.file-upload-form-button {
    background-color: #E6E6FA;
    border-radius: 10%;
}

.file-upload-form-button:hover {
    background-color: #E0B0FF;
}

.file-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #66023C;
    padding: 10px;
}

.file-container-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #E6E6FA;
}

.fileid-display {
    font-size: 1.1rem;
    padding-left: 10px;
}

.privacy-display {
    font-size: 1.1rem;
    padding-right: 10px;
}

.file-container-sidebar-parent {
    position: relative;
}

.file-container-sidebar {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: -60px;
    margin-top: 15px;
}

.file-container-sidebar button {
    background-color:#E6E6FA;
}

.file-container-sidebar button:hover {
    background-color: #E0B0FF;
}

.privacy-input-file {
    background-color: white;
    height: 28px;
}

.file-container-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding-bottom: 15px;
}

.file-container-buttons button {
    background-color: #E6E6FA;
}

.file-container-buttons button:hover{
    background-color: #E0B0FF;
}

.shareable-url-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.shareable-url {
    width: 70%;
}

.token-update-button {
    width: 15%;
    background-color: #E6E6FA;
}

.token-update-button:hover {
    background-color: #E0B0FF;
}

.metadata-update-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.page-navigator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pre-display {
    height: auto;
    max-height: 300px;
    overflow: auto;
    word-break: normal;
    word-wrap: normal;
    white-space: pre;
    border: 5px solid black;
    border-radius: 15px;
}

.img-display {
    width: 500px;
}

.users-display {
    width: 100%;
    height: 87%;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color:#E6E6FA;
}

.users-display-buttons {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #66023C;
}

.users-display-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
}

.trusted-users-display {
    width: 100%;
    word-break: normal;
    word-wrap: normal;
    white-space: pre;
    border: 1px solid #66023C;
    border-left: 2px solid #66023C;
    overflow: auto;
}

.searched-users-display {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    word-break: normal;
    word-wrap: normal;
    white-space: pre;
    border: 1px solid #66023C;
    border-right: 2px solid #66023C;
    overflow: auto;
}

.user-item-display {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    width: 100%;
    gap: 2px;
}

.user-item-display:hover {
    background-color: white;
}

.user-item-displayname {
    color: black;
    font-size: 0.9rem;
    margin: 0;
}

.user-item-id {
    color: #66023C;
    font-size: 0.7rem;
    margin: 0;
}

.login-dropdown-button {
    position: relative;
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
    color: rgb(42, 123, 173);
    display: inline-block;
    text-decoration: underline;
}

.login-dropdown-parent {
    position: relative;
}

.login-dropdown {
    display: block;
    position: absolute;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.login-dropdown-display {
    display: none
}

.user-dropdown {
    display: flex;
    flex-direction: row;
}

.user-display {
    position: relative;
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
    color: rgb(42, 123, 173);
    display: inline-block;
    text-decoration: underline;
}

.trusted-users-input {
    width: 100%;
    padding: 0px;
    margin: 0px 0px 10px 0px;
    text-align: center;
}

.comment-input {
    width: 100%;
    height: 100px;
    padding: 0px;
    margin: 0px 0px 10px 0px;
    resize: none;
}

.users-display-container-parent {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.users-display-container {
    position: absolute;
    display: inline-block;
    width: 400px;
    height: 210px;
    margin-left: -200px;
    margin-top: -10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1;
    background-color: #66023C;
}

.users-display-container-none {
    display: none;
}

.hidden-file-input {
    display: none;
}

.file-input-container {
    width: 100%;
    padding: 0px;
    margin: 0px 0px 10px 0px;
}

.privacy-input-user {
    width: 30%;
    height: 28px;
    padding: 0px;
    margin: 0px -2px 0px 0px;
    background-color: white;
}

.filename-display {
    width: 70%;
    height: 25px;
    cursor: pointer;
    padding: 0px;
    margin: 0px 0px 0px -2px;
}

.home-button {
    position: relative;
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
    color: rgb(42, 123, 173);
    display: inline-block;
    text-decoration: underline;
}

.file-search {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #66023C;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.file-search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E6E6FA;
}

.file-search-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.file-display-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 50px;
    border: 1px solid black;
    cursor: pointer;
}

.file-metadata {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 80%;
}

.file-metadata-subsection {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-start;
    width: 100%;
    height: 50%;
}

.displayname-metadata {
    font-size: 0.8rem;
    color: #66023C;
    margin-right: 20px;
}

.filename-metadata {
    width: 100%;
    font-size: 1rem;
    margin: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 50%;
    color:black;
}

.privacy-metadata {
    font-size: 0.6rem;
    color:#DA70D6;
}

.clear-button {
    position: relative;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: rgb(215, 51, 51);
    display: inline-block;
}

.display-delete-button {
    position: relative;
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    color: rgb(215, 51, 51);
    display: inline-block;
}

.page-button {
    position: relative;
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
    color: #E0B0FF;
    display: inline-block;
}

.page-number-max {
    margin: 5px;
    color: #E6E6FA;
}

.page-number-input {
    width: 30px;
    margin: 5px;
}

.message-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 9;
    bottom: 5vh;
}

.total-messages {
    width: 15px;
    height: 15px;
    margin-left: auto;
    color: white;
    background-color: #66023C;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.current-message {
    display: flex;
    flex-direction: row;
    height: 25px;
    background-color:rgb(244, 247, 251);
    margin-left: 1;
    margin-right: 1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
}

.current-message p {
    height: 25px;
    padding: 0px;
    margin: 3px 10px 0px 10px;
}

.message-clear-button {
    position: relative;
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;
    color: rgb(103, 114, 127);
    display: inline-block;
    margin: -3px 10px 0px 0px;
}

.loading-message {
    font-size: 3rem;
    color:#66023C;
}

.dot-flashing {
    position: relative;
    border-radius: 50%;
    background-color: #DA70D6;
    color: #DA70D6;
    animation: dotFlashing 1s infinite linear alternate;
    animation-delay: .5s;
}
  
.dot-flashing::before, .dot-flashing::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
}
  
.dot-flashing::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #DA70D6;
    color: #DA70D6;
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 0s;
}
  
.dot-flashing::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #DA70D6;
    color: #DA70D6;
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 1s;
}

.dot-flashing-loading {
    width: 15px;
    height: 15px;
}

.dot-flashing-loading::before {
    left: -50px;
    width: 15px;
    height: 15px;
}
  
.dot-flashing-loading::after {
    left: 50px;
    width: 15px;
    height: 15px;
}

.dot-flashing-data {
    margin-top: 20px;
    width: 10px;
    height: 10px;
}

.dot-flashing-data::before {
    left: -25px;
    width: 10px;
    height: 10px;
}
  
.dot-flashing-data::after {
    left: 25px;
    width: 10px;
    height: 10px;
}
  
@keyframes dotFlashing {
    0% {
        background-color: #DA70D6;
    }
    50%,
    100% {
        background-color: #ebe6ff;
    }
}